@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/gypsum.jpg" />
    <p>Learn about <a href="">M/S MAA TRADERS</a>.</p>
</div>
